*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body { background-image: url(""); } 
h1 {
    color: #1a1aff;
    text-align: center;
}
ul{
    list-style-type:none;
}
ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #8080ff;
}
.lasagna-image {
    height: 400px;
    width: 400px;
}
.container {
    text-align: center;
}
